/* Load Switzer Regular */
@font-face {
  font-family: "Switzer";
  src: url("./fonts/Chillax-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: normal;
}

/* Apply globally */
html, body, * {
  font-family: "Switzer", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif !important;
}
